#btn-box{
    max-width: 640px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#btn-box > div {
    max-width: 25vw;
    border-style: solid;
    border-width: 1px;
    align-self: center;
    margin: 1px;
    padding: 2px;
    display: flex;
    place-items: center;
    justify-content: center;
}

#draw-or-error{
    min-width: 150px;
    min-height: 45px;
    font-size: 1.25em;
}

#card-box{
    position: absolute;
    left: 25px;
}

/* #card-box > img{
    position: absolute;
    left: 0px;
} */