#game-message{
    color:rgb(86, 253, 253);
    font-size: 1.2em;
    border-style: solid;
    border-color: aqua;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}